body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
body,
input,
textarea,
select,
button,
table {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Roboto, 'Noto Sans CJK KR', Arial, '맑은 고딕',
    'Malgun Gothic', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
}
img,
fieldset {
  border: 0;
}
ul,
ol {
  list-style: none;
}
em,
address {
  font-style: normal;
}
input,
select {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
hr,
legend,
.blind {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
caption {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  width: 1px;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
svg {
  vertical-align: top;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    /* stylelint-disable */
    image-rendering: -webkit-optimize-contrast !important;
    /* stylelint-enable */
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    img {
      image-rendering: unset !important;
    }
  }
}
